body {
  font-family: Roboto, sans-serif;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 8rem;
}
.logo>img {
  width: 12.5rem;
  height: 10rem;
  margin-left: 0.4rem;
}
.ant-layout {
  min-height: 100vh;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
main {
  height: 85vh;
  overflow-y: scroll;
  background-color: transparent !important;
}
main::-webkit-scrollbar {
  width: 0px;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}
.error {
  color: red;
  font-size: 12px;
}

.see-statistics-link {
  transition: all 0.3s ease;
  text-decoration: none;
}

.see-statistics-link:hover {
  opacity: 0.7;
  color: rgb(95, 195, 238);
}

.logo-image {
  transition: opacity 0.7s ease-in-out;
}


/* index.css */
.cellAction {
  display: flex;
  gap: 5px;
}

/* Add your other styles here */

/* Edit Form Container */
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add a gap between all divs */
  padding: 20px;
  background-color: #f1f1f1;
}

/* Label Styles */
.edit-form label {
  font-weight: bold;
}

/* Input Styles */
.edit-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button Styles */
.edit-form button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-form button.cancel {
  background-color: #ff0000;
  color: #fff;
}

.edit-form button.update {
  background-color: #00ff00;
  color: #fff;
}
