body {
  font-family: Roboto, sans-serif;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 8rem;
}
.logo>img {
  width: 12.5rem;
  height: 10rem;
  margin-left: 0.4rem;
}
.ant-layout {
  min-height: 100vh;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
main {
  height: 85vh;
  overflow-y: scroll;
  background-color: transparent !important;
}
main::-webkit-scrollbar {
  width: 0px;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}
.error {
  color: red;
  font-size: 12px;
}

.see-statistics-link {
  transition: all 0.3s ease;
  text-decoration: none;
}

.see-statistics-link:hover {
  opacity: 0.7;
  color: rgb(95, 195, 238);
}

.logo-image {
  transition: opacity 0.7s ease-in-out;
}


/* index.css */
.cellAction {
  display: flex;
  gap: 5px;
}

/* Form container */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Input fields */
.form-container input {
  width: 100%;
  padding: 5px;
}

/* Buttons */
.form-container button {
  margin-right: 10px;
}


.Btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.viewOrder {
 float: right;
 padding: 6px;
}

.selected-colors{
  margin-top: 0.9rem;
}

.selected-color{
  display: flex;
  margin-bottom: 0.7rem;
}
